/*
Colour Palette:

Black Type: #444


Light Orange: #d4b28e
Light Pale Olive: #a6aa9d


*/


/*Upload fonts here*/

@font-face {
    font-family: "Messapia-Regular";
    src: url("assets/fonts/Messapia-Regular.otf");
}

@font-face {
    font-family: "Happy-Times-Italic";
    src: url("assets/fonts/Happy-Times-Italic.otf");
}


@font-face {
    font-family: "Lunchtype-Regular-22";
    src: url("assets/fonts/Lunchtype-Regular-22.ttf");
}



/*Global Reset*/
* {
    padding: 0;
    margin: 0;

}

/*Fix up for older browsers to draw the new semantic elements*/

header,
nav,
main,
aside,
article,
section,
footer,
figure,
figcaption {
    display: block;
}

html {
    /*    background-color: magenta;*/
    /*    background-color: #f4f1ea;*/
    font-size: 100%;
}

body {}

::-moz-selection {
    background: #a6aa9d;
    color: #fff;
}

::-webkit-selection {
    background: #a6aa9d;
    color: #fff;
}

::selection {
    background: #a6aa9d;
    color: #fff;
}

#wrapper {
    max-width: 960px;
    width: 80%;
    margin: 0 auto;
}


/*navbar*/

.menu-container {
    color: #444;
    background-color: #f4f1ea;
    padding: 5px 0 3px 0;
    display: flex;
    justify-content: center;
    border-bottom: 0.5px solid #444;
    position: fixed;
    top: 0;
    width: 100%;
}

.menu {
    font-family: "Lunchtype-Regular-22", sans-serif;
    font-size: 0.85rem;
    letter-spacing: 0.75px;
    font-weight: 100;
    /*    border: 1px solid red;*/
    width: 900px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu a:hover {
    /*    text-decoration: underline;*/

    /*
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
*/

}

/*typography styling*/

h2 {
    font-family: "Lunchtype-Regular-2", sans-serif;
    letter-spacing: 0.75px;
    font-size: 0.8rem;
    font-weight: 100;
}


a {
    text-decoration: none;
    color: #444;
}

a:hover {
    /*    color: #b59784;*/
    /*    color: #8d6054;*/
    /*    color: #b2ada2;*/
    /*    color: #a69c87;*/
    /*    color: #adb2a2;*/

    color: #a6aa9d;

    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

/*border texts*/

.text-container {}


#collab-text {
    margin-right: 6px;
}

.top-bar {
    padding: 80px 10px 0 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.top-right {

    display: flex;
    align-items: center;
    /*    background-color: #fff;*/
    /*    border: 0.5px solid #000;*/
    padding: 5px;
}


.bottom-bar {
    height: 70vh;
    margin-bottom: 50px;
    padding: 0 10px 0 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#clockbox {
    font-family: "Lunchtype-Regular-2", sans-serif;
    letter-spacing: 0.75px;
    font-size: 0.8rem;
    font-weight: 100;
}



.clear {
    clear: both;
}







/*MEDIA QUERIES*/


/*Smartphones*/


@media only screen and (min-width: 320px) and (max-width: 480px) {


    .menu {
        font-family: "Lunchtype-Regular-22", sans-serif;
        font-size: 0.75rem;
        letter-spacing: 0.75px;
        font-weight: 100;
        /*    border: 1px solid red;*/
        width: 900px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }


    h2 {
        font-family: "Lunchtype-Regular-2", sans-serif;
        letter-spacing: 0.75px;
        font-size: 0.65rem;
        font-weight: 100;
    }
    

    #welcome {
        width: 50px;
    }
    
    #collab-text {
        margin-right: 4px;
    }
    
    #smile {
        width: 15px;
    }

    #wrapper {
        max-width: 960px;
        width: 90%;
        margin: 0 auto;
    }

    .bottom-bar {
    height: 60vh;
    margin-bottom: 50px;
    padding: 0 10px 0 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
    
    #clockbox {
        font-family: "Lunchtype-Regular-2", sans-serif;
        letter-spacing: 0.75px;
        font-size: 0.65rem;
        font-weight: 100;
    }


}
