/*
Colour Palette:

Black Type: #444


Light Orange: #d4b28e
Light Pale Olive: #a6aa9d
Light Pale Pink: #dccdc0

*/


/*Upload fonts here*/

@font-face {
    font-family: "Messapia-Regular";
    src: url("assets/fonts/Messapia-Regular.otf");
}

@font-face {
    font-family: "Happy-Times-Italic";
    src: url("assets/fonts/Happy-Times-Italic.otf");
}


@font-face {
    font-family: "Lunchtype-Regular-22";
    src: url("assets/fonts/Lunchtype-Regular-22.ttf");
}



/*Global Reset*/
* {
    padding: 0;
    margin: 0;

}

/*Fix up for older browsers to draw the new semantic elements*/

header,
nav,
main,
aside,
article,
section,
footer,
figure,
figcaption {
    display: block;
}

html {

    background-color: #f4f1ea;
    font-size: 100%;
}

body {}

::-moz-selection {
    background: #a6aa9d;
    color: #fff;
}

::-webkit-selection {
    background: #a6aa9d;
    color: #fff;
}

::selection {
    background: #a6aa9d;
    color: #fff;
}

#wrapper {
    max-width: 960px;
    width: 80%;
    margin: 0 auto;
    padding: 130px 0 0 0;
}


/*navbar*/

.menu-container {
    color: #444;
    background-color: #f4f1ea;
    padding: 5px 0 3px 0;
    display: flex;
    justify-content: center;
    border-bottom: 0.5px solid #444;
    position: fixed;
    top: 0;
    width: 100%;
}

.menu {
    font-family: "Lunchtype-Regular-22", sans-serif;
    font-size: 0.85rem;
    letter-spacing: 0.75px;
    font-weight: 100;
    /*    border: 1px solid red;*/
    width: 900px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu a:hover {
/*    text-decoration: line-through;*/
        
/*
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
*/
    
}

/*type styling*/

h1 {
    color: #444;
    font-family: "Lunchtype-Regular-22", sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.75px;
    font-weight: 100;
    margin-bottom: 20px;
}

h2 {
    color: #444;
    font-family: "Happy-Times-Italic", serif;
    font-size: 0.9rem;
    font-weight: 100;
    margin-bottom: 7px;
}

p {
    color: #444;
    font-family: "Lunchtype-Regular-22", sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.4px;
    font-weight: 100;
    line-height: 1.2rem;
}

.p-space {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #444;
}

a:hover {
/*    color: #b59784;*/
/*    color: #8d6054;*/
/*    color: #b2ada2;*/
/*    color: #a69c87;*/
/*    color: #adb2a2;*/
    
    color: #a6aa9d;
    
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

/*container styling*/

.section-space {
    margin-bottom: 30px;
}

.col-01 {
    float: left;
    max-width: 400px;
    display: inline-block;
    margin-right: 90px;
}

.col-02 {
    display: inline-block;
}


#education {
      margin-bottom: 50px;
}


#footer {
    font-size: 0.68rem;
    max-width: 260px;
    line-height: 1.1rem;
}







/*MEDIA QUERIES*/


/*Smartphones*/


@media only screen and (min-width: 320px) and (max-width: 480px) {


    #wrapper {
        padding-top: 100px;
    }

    .menu {
        font-family: "Lunchtype-Regular-22", sans-serif;
        font-size: 0.75rem;
        letter-spacing: 0.75px;
        font-weight: 100;
        /*    border: 1px solid red;*/
        width: 900px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }


    .row-01 {
        display: inline-block;
        margin-bottom: 40px;

    }

    
    .col-01 {
    float: left;
    max-width: 100%;
    display: inline-block;
}
    
    footer {
        padding-bottom: 50px;
    }



}






