/*
Colour Palette:

Black Type: #444


Light Orange: #d4b28e
Light Pale Olive: #a6aa9d
Light Pale Pink: #dccdc0

*/


/*Upload fonts here*/

@font-face {
    font-family: "Messapia-Regular";
    src: url("assets/fonts/Messapia-Regular.otf");
}

@font-face {
    font-family: "Happy-Times-Italic";
    src: url("assets/fonts/Happy-Times-Italic.otf");
}


@font-face {
    font-family: "Lunchtype-Regular-22";
    src: url("assets/fonts/Lunchtype-Regular-22.ttf");
}



/*Global Reset*/
* {
    padding: 0;
    margin: 0;

}

/*Fix up for older browsers to draw the new semantic elements*/

header,
nav,
main,
aside,
article,
section,
footer,
figure,
figcaption {
    display: block;
}

html {

    background-color: #f4f1ea;
    font-size: 100%;
}

body {}

::-moz-selection {
    background: #a6aa9d;
    color: #fff;
}

::-webkit-selection {
    background: #a6aa9d;
    color: #fff;
}

::selection {
    background: #a6aa9d;
    color: #fff;
}



#wrapper {
    max-width: 960px;
    width: 80%;
    margin: 0 auto;
    padding: 130px 0 0 0;
}

footer {
    margin-bottom: 150px;
}



/*navbar*/

.menu-container {
    color: #444;
    background-color: #f4f1ea;
    padding: 5px 0 3px 0;
    display: flex;
    justify-content: center;
    border-bottom: 0.5px solid #444;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.menu {
    font-family: "Lunchtype-Regular-22", sans-serif;
    font-size: 0.85rem;
    letter-spacing: 0.75px;
    font-weight: 100;
    /*    border: 1px solid red;*/
    width: 900px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu a:hover {
    /*    text-decoration: line-through;*/

    /*
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
*/

}

/*type styling*/

h1 {
    color: #444;
    font-family: "Lunchtype-Regular-22", sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.75px;
    font-weight: 100;
}

h2 {
    color: #444;
    font-family: "Happy-Times-Italic", serif;
    font-size: 0.9rem;
    font-weight: 100;
}

.number {
    color: #444;
    font-family: "Happy-Times-Italic", serif;
    font-size: 0.75rem;
    font-weight: 100;
}

h3 {
    padding-left: 3rem;
    text-indent: -3rem;
    color: #444;
    font-family: "Lunchtype-Regular-22", sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.4px;
    font-weight: 100;
    line-height: 1rem;
    margin-bottom: 3px;
}

h4 {
    text-align: center;
    color: #fff;
    font-family: "Lunchtype-Regular-22", sans-serif;
    font-size: 0.85rem;
    text-decoration: underline;

    /*    font-family: "Happy-Times-Italic", serif;
    font-size: 0.75rem;*/
    font-weight: 100;
    letter-spacing: 0.6px;

}

h5 {
    color: #444;
    font-family: "Lunchtype-Regular-22", sans-serif;
    margin-left: 20px;
    font-size: 0.9rem;
    letter-spacing: 0.02rem;
    font-weight: 100;
}


p {
    color: #444;
    font-family: "Lunchtype-Regular-22", sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.4px;
    font-weight: 100;
    line-height: 1.2rem;
}

.p-space {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #444;
}



a:hover {
    /*    color: #b59784;*/
    /*    color: #8d6054;*/
    /*    color: #b2ada2;*/
    /*    color: #a69c87;*/
    /*    color: #adb2a2;*/

    color: #a6aa9d;

    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}



.num-space {
    margin-right: 15px;
}

/*container styling*/

.index-container {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin-top: 30px;


}

.index {
    margin-right: 30px;

}

.contents {
    display: flex;
    flex-wrap: wrap;
}

.contents-col-01 {
    width: 240px;
    margin-right: 10px;
}

.contents-col-02 {
    width: 240px;
}

.row-01 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

}


.title {
    margin: 15px 0 60px 0;
    max-width: 440px;


}



/*image styling*/

#work-container {}

#project-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 960px;

}



.project-image {
    max-width: 960px;
    border: 1px solid black;
    margin: 0 20px;


    width: 430px;
    height: 300px;
}


.middle-text {
    opacity: 0;
    position: relative;
    top: 45%;



    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

/*WORK 01*/

#work-01 {
    background: url(assets/imgs/work/01-Desiderium.png);
    background-position: center;
    background-size: cover;


    text-align: center;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

#work-01:hover .middle-text {
    opacity: 1;
}

#work-01:hover {
    background:
        linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
        url(assets/imgs/work/01-Desiderium.png);
    background-position: center;
    background-size: cover;


}


/*WORK 02*/

#work-02 {
    background: url(assets/imgs/work/02-ACMI.png);
    background-position: center;
    background-size: cover;

    text-align: center;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}


#work-02:hover .middle-text {
    opacity: 1;
}

#work-02:hover {
    background:
        linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
        url(assets/imgs/work/02-ACMI.png);
    background-position: center;
    background-size: cover;
}

/*WORK 03*/

#work-03 {
    background: url(assets/imgs/work/03-Provider_Artificer.png);
    background-position: center;
    background-size: cover;

    text-align: center;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}


#work-03:hover .middle-text {
    opacity: 1;
}

#work-03:hover {
    background:
        linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
        url(assets/imgs/work/03-Provider_Artificer.png);
    background-position: center;
    background-size: cover;
}


/*WORK 04*/

#work-04 {
    background: url(assets/imgs/work/04-Provider_Goodhood_02.png);
    background-position: center;
    background-size: cover;

    text-align: center;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}


#work-04:hover .middle-text {
    opacity: 1;
}

#work-04:hover {
    background:
        linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
        url(assets/imgs/work/04-Provider_Goodhood_02.png);
    background-position: center;
    background-size: cover;
}


/*WORK 05*/

#work-05 {
    background: url(assets/imgs/work/05-Skos.png);
    background-position: center;
    background-size: cover;

    text-align: center;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}


#work-05:hover .middle-text {
    opacity: 1;
}

#work-05:hover {
    background:
        linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
        url(assets/imgs/work/05-Skos.png);
    background-position: center;
    background-size: cover;
}


/*WORK 06*/

#work-06 {
    background: url(assets/imgs/work/06-Journey.png);
    background-position: center;
    background-size: cover;

    text-align: center;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}


#work-06:hover .middle-text {
    opacity: 1;
}

#work-06:hover {
    background:
        linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
        url(assets/imgs/work/06-Journey.png);
    background-position: center;
    background-size: cover;
}


/*WORK 07*/

#work-07 {
    background: url(assets/imgs/work/08-Misc.jpg);
    background-position: center;
    background-size: cover;

    text-align: center;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}


#work-07:hover .middle-text {
    opacity: 1;
}

#work-07:hover {
    background:
        linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
        url(assets/imgs/work/08-Misc.jpg);
    background-position: center;
    background-size: cover;
}



/*MISC PHOTOG*/

#misc {
    background: url(assets/imgs/work/08-Misc.jpg);
    background-position: center;
    background-size: cover;

    text-align: center;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}


#misc:hover .middle-text {
    opacity: 1;
}

#misc:hover {
    background:
        linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
        url(assets/imgs/work/08-Misc.jpg);
    background-position: center;
    background-size: cover;
}












/*MEDIA QUERIES*/


/*Smartphones*/


@media only screen and (min-width: 320px) and (max-width: 480px) {


    .menu {
        font-family: "Lunchtype-Regular-22", sans-serif;
        font-size: 0.75rem;
        letter-spacing: 0.75px;
        font-weight: 100;
        /*    border: 1px solid red;*/
        width: 900px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }


    .row-01 {
        display: inline-block;
        margin-bottom: 40px;

    }

    h1 {
        margin-bottom: 30px;
    }



}
